@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: black;
    font-family: "Inter", sans-serif;
}
.navbar{
    height: 5vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.navbar .pc-screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    width: 65vw;
}
.logo h1{
    margin-left: 2vw;
    font-size: 2.5rem;
    font-weight: 600;
    color: #4210CC;
}
.navbar a{
    text-decoration: none;
    color: #1f2937;
    text-transform: capitalize;
    font-size: 1.1rem;
}
.nav-row{
    cursor: pointer;
}
.nav-row a{
    margin: 0px 20px;
    transition: 0.5s;
}
.nav-row a:hover{
    border-bottom: 2px solid #4210CC;
    color: #4210CC;
}
.nav-social a{
    margin: 0px;
    padding: 5px;
}

/* Main */
main .pc-screen{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: calc(100vw - 15px);
    height: 100vh;
    background-color: #f7f7f7;
}

