*{
    scroll-behavior: smooth;
}
header{
    background-color: aqua;
    height: 10vh;
}
body{
    /* background-color: aquamarine; */
    height: 80vh;
    
}
aside{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 15px 15px ;
    background-color: #433076;
    padding: 5px 0px;
    float: right;
    top: 30vh;
    right: 1vw;
    position: fixed;
}
aside a{
    background-color: antiquewhite;
    text-decoration: none;
    color: black;
    margin: 1vh;
    padding: 5px;
    margin-top: 15px;
    border-radius: 50%;
    transition: 0.3s;
}
aside a:hover{
    background-color: white;
    transform: scale(1.2);
    color: #433076;
}
aside a:active{
    transform: scale(1.2);
    background-color: white;
    color: #433076;
}
aside .bottom{
    margin-bottom: 15px;
}
.about{
    width: calc(100vw - 15px);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.abt-sec{
    width: fit-content;
    margin: 15px 0px;
    padding: 15px;
    border: 2px solid #433076;
    border-radius: 15px;
    background: #000;
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
}

.sec-head{
    height: fit-content;
    margin-top: 15px;
    font-size: 2em;
    text-transform: capitalize;
    width: fit-content;
    border-bottom: 2px solid #433076;
    padding: 5px;
    
}

.portfolio{
    width: calc(100vw - 15px);
    height: 100vh;
}
.contact{
    width: calc(100vw - 15px);
    height: 100vh;
}
footer{
    width: calc(100vw - 15px);
    background-color: bisque;
    height: 10vh;
}

@media (min-width:720px) {
    .about{
        flex-direction: column;
    }
    .abt-sec{
        background: #433076;
    }
}