
main{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #f9fafb 100%), url(../images/my-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-container, .upper-container{
    display: none;
}
.intro{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.say-hi{
    margin-left: 63vw;
    font-family: "Inert", sans-serif;
    font-weight: 300;
    color: #757575;
    font-size: 2rem;
}
.role{
    margin-left: 63vw;
    color: #1f2937;
    font-size: 5rem;
    font-weight: 600;
}
.role span{
    background: linear-gradient(90deg, #283547 0%, #433076 50%, #5e41ad 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.desc{
    margin-left: 63vw;

    font-family: "Inert", sans-serif;
    font-weight: 300;
    color: #757575;
}
.m-nav-btn{
    margin-top: 2.5vh;
    margin-left: 63vw;
    display: flex;
    gap: 20px;
}
.m-nav-btn a{
    padding: 15px 35px;
    background-color: #433076;
    text-decoration: none;
    color: white;
    border: 2px solid #433076;
    border-radius: 15px;
}
.m-nav-btn .btn-2{
    background-color: transparent;
    color: #433076;
}
.menu{
    display: none;
}
/* For Mobile */
@media (max-width:480px){
    .pc-screen{
        display: none;
    }
    main{
        background: none;
    }

}