main{
    margin-top: 50px;
    text-align: left;
} 
.container{
    font-size: 22px;
    color: #102601;
    margin-top: 0px;
    margin-left: 50px;
    transition: 0.5s;
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.container h1:hover{
    letter-spacing: 3px;
}
p{
    width: 450px;
}
            
.contact a{
    text-decoration: none;
    color: #102601;
    font-size: 20px;
    margin: 10px 0px;
    display: inline-block;
    transition: 0.3s;
}
            
.icons{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    transition: 0.3s;
}
.contact a:hover .icons{
    transform: scale(1.2);
    margin-right: 15px;
    margin-bottom: 5px;
}
ul{
    list-style-type: none;
    padding: 0;
}
@media (max-width:600px){
    .container p{
        width: 80%;
    }
}