body{
    background-color: #0339A6;
    margin: 0px;
    font-family: 'Sofia', cursive;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.navbar{
    background: transparent;
    color: #367373;
    margin-top: 20px;
}
.navbar a{
    color: #102601;
    font-size: 18px;
    text-decoration: none;
    padding: 14px 20px;
    transition: 0.3s;
}