
body{
    background-color: #0339A6;
    margin: 0px;
    font-family: 'Sofia sans', cursive;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    width: 40vw;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px;
}
.navbar a{
    text-decoration: none;
    color: #102601;
    font-size: 22px;
    margin: 0px 20px;
    text-align: center;
    transition: 0.3s;
}
.navbar a:hover{
    /* letter-spacing: 2px; */
    background-color: #102601;
    color: white;
    border-radius: 8px;
    transition: 0.5s;}