body{
    margin: 0;
    padding: 0;
    background-color: #00020D;
}
.main{
    background-color: #00020D;
    color: white;
    text-align: center;
    font-family: "sofia", cursive;
    border-radius: 8px; 
    width: 100vw;
    height: 100vh; 
    display: grid;
    place-items: center;
}
.main h1{
    font-size: 3em;
    margin-bottom: 20px;
}
.main p{
    font-size: 1.5em;
    margin-bottom: 30px;
}
.main a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0339A6;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.main a:hover{
    background-color: #1D2C40af;
}
