
body{
    background-color: #0339A6;
    margin: 0px;
    font-family: 'Sofia sans', cursive;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00020D;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    font-size: 4em;
    font-family: "sofia", cursive;
    animation-name: fadeOut;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

header{
    width: 40vw;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    gap: 5px;
    margin: 15px;
}
.home-btn, .about-btn, .project-btn, .contact-btn, .logout-btn{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    transition: 0.5s;
    margin: 0px 5px;
}
.home-btn:hover, .about-btn:hover, .project-btn:hover, .contact-btn:hover, .logout-btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
