main{
    margin-top:150px;
    text-align:left;
}
.fname{
    font-size:80px;
    font-weight:bold;
    color:#102601;
    text-align:left;
    margin-left:50px;
    transition:0.5s;

}
.fname:hover{
    color:#2E5902;
    letter-spacing:5px;
}
.lname{
    font-size:80px;
    font-weight:bold;
    color:#102601;
    text-align:left;
    margin-left:50px;
    transition:0.5s;
}
.lname:hover{
    color:#2E5902;
    letter-spacing:5px;
}
.title{
    font-size:40px;
    font-weight:bold;
    color:#102601;
    text-align:left;
    margin-left:50px;
    letter-spacing:5px;
    transition:0.5s;
}
.title:hover{
    color:#2E5902;
    letter-spacing:8px;
}
.icons{
    position:relative;
    bottom:0;
    margin:20px;
}
.icons img{
    width:40px;
    height:40px;
    margin-left:35px;
    transition:0.3s;
}
.icons img:hover{
    width:48px;
    height:48px;
}

@media (max-width:600px){
    main{
        margin-top: 100px;
    }
    .fname{
        font-size: 4em;
    }
    .lname{
        font-size: 4em;
    }
    
}